*{
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}

body{
    background-color: white;
    color: #333;
}

/* Navbar design */
.nav-container{
    display: flex;
    justify-content:  flex-end;
    width: 80%;
    align-items: center;
    padding: 5px 5px;
}

.navbar{
    background-color: rgb(74, 178, 220);
}

.navbrand img{
    height: 60px;
    width: 180px;
}

.left-nav a{
    color: white;
    text-decoration: none;
    cursor: pointer;
}

.right-nav {
    position: sticky;
    width: 100%;
    height: fit-content;
}

.left-nav {
    display: flex;
    justify-content: space-evenly;
    width: 100%;
}

/* Home page */

.container{
    margin: 20px 80px;
    text-align: center;
    margin-bottom: 112px;
}
.content{
    background-color: white;
    border-radius: 8px;
    padding: 40px;
    display: inline-block;
}

.row1, .row2{
    display: flex;
    justify-content: center;
    gap: 0px 100px;
    margin-bottom: 20px;
    flex-wrap: wrap;
}

.form{
    display: flex;
    flex-direction: column;
    text-align: left;
}

.form-label{
    margin: 20px 0;
}

.form-select, .form-control{
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
    width: 200px;
}
.form-select:focus, .form-control:focus{
    border-color: #a3b48b;
    outline: none;
}


.btn{
    background-color: rgb(74, 178, 220);
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 100px;
}
.btn:hover{
    background-color: rgb(60, 147, 184);
}



/* About Page*/

.about-page {
  display: flex;
  align-items: center;
  gap: 50px;
  flex-wrap: wrap;
  margin-bottom: 126px;
}

.about-img {
  width: 380px;
  height: 300px;
  border-radius: 20px;
  object-fit: cover;
  margin: 0px 20px;
}

.about-img:hover {
  transform: scale(1.05);
  transition: transform 0.5s ease-in-out;
  cursor: pointer;
}

.about-content {
  max-width: 600px;
}

.about-content h2 {
  font-size: 28px;
  margin: 25px 0px;
}

.about-content p {
  line-height: 1.7;
  font-size: 15px;
}


/*Contact Page*/
/* Contact Section */
.contact-section {
  padding: 50px 80px;
}

.contact-container {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  gap: 50px;
  flex-wrap: wrap;
}

.contact-text {
  flex: 1;
  min-width: 300px;
}

.contact-text h2 {
  font-size: 26px;
  margin-bottom: 15px;
}

.contact-text p {
  margin-bottom: 15px;
  line-height: 1.6;
  font-size: 15px;
}

/* Contact Form */
.contact-form {
  background-color: #f4f4f4;
  padding: 30px;
  border-radius: 6px;
}

.contact-form label {
  display: block;
  margin-bottom: 6px;

}

.contact-form input,
.contact-form textarea {
  width: 100%;
  padding: 8px 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  margin-bottom: 15px;
  font-size: 14px;
  outline: none;
}

.contact-form input:focus,
.contact-form textarea:focus {
  border-color: rgb(60, 147, 184);
}




/* Footer design */
.footer {
    background-color: rgb(74, 178, 220);
    color: white;
    padding: 15px 0;
    text-align: center;
    position: relative;
    margin: auto;
}

.icons {
    margin-top: 10px;
}
.icons a {
    color: white;
    margin: 0 10px;
    font-size: 20px;
}
.icons a:hover {
    color: #d4d4d4;
}

